@tailwind base;
@tailwind components;
@tailwind utilities;

.selectIcon{
    cursor: pointer;
    font-size:20px;
    flex:1;
}

.selectIcon:hover{
    color: blue;
    font-size:20px;
    flex:1;
}

.activeIcon{
    cursor: pointer;
    color: blue;
    font-size:20px;
    flex:1;
}

.selectors{
    width: 8px;
    height: 8px;
    background-color: #09ceff;
    position: absolute;
}