@tailwind base;
@tailwind components;
@tailwind utilities;

.selectIcon{
    cursor: pointer;
    font-size:20px;
    flex:1;
}

.selectIcon:hover{
    color: blue;
    font-size:20px;
    flex:1;
}

.activeIcon{
    cursor: pointer;
    color: blue;
    font-size:20px;
    flex:1;
}

.selectors{
    width: 8px;
    height: 8px;
    background-color: #09ceff;
    position: absolute;
    
}

.selectIconMenu{
    cursor: pointer;
    font-size:20px;
    flex:1;
    margin-top: 2px;
    margin-bottom: 2px;
}

.selectIconMenu:hover{
  color: blue;
  font-size:20px;
  flex:1;
}

.scale-cursorTL {
    cursor: nw-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }
  .scale-cursor{
    cursor: nw-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }
  .scale-cursorTM{
    cursor: n-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }
  .scale-cursorTR{
    cursor: ne-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }
  .scale-cursorBL{
    cursor: nesw-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }

  .scale-cursorBM{
    cursor: ns-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }

  .scale-cursorBR{
    cursor: nwse-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }
  .scale-cursorLM{
    cursor: ew-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }
  .scale-cursorRM{
    cursor: ew-resize; /* This can be changed to other values like nesw-resize, ew-resize, etc. */
  }
  .scaleline
  {
    cursor:pointer;

  }